<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MIDISourceName</key>
	<string>nanoKONTROL2</string>
	<key>CHANNEL</key>
	<dict>
		<key>0</key>
		<dict>
			<key>NOTE_ON</key>
			<dict>
				<key>50</key>
				<array>
					<dict>
						<key>logic</key>
						<string>EQ</string>
						<key>valmatch</key>
						<string>127</string>
						<key>function</key>
						<string>trigger_glitchOn</string>
					</dict>
					<dict>
						<key>logic</key>
						<string>EQ</string>
						<key>valmatch</key>
						<string>0</string>
						<key>function</key>
						<string>trigger_glitchOff</string>
					</dict>
				</array>
			</dict>
			<key>NOTE_OFF</key>
			<dict/>
			<key>CONTROL</key>
			<dict>
				<key>0</key>
				<array>
					<dict>
						<key>logic</key>
						<string></string>
						<key>valmatch</key>
						<string></string>
						<key>function</key>
						<string>adjust_masterFadeA:</string>
					</dict>
				</array>
				<key>23</key>
				<array>
					<dict>
						<key>logic</key>
						<string></string>
						<key>valmatch</key>
						<string></string>
						<key>function</key>
						<string>adjust_fontSize:</string>
					</dict>
				</array>
				<key>17</key>
				<array>
					<dict>
						<key>logic</key>
						<string></string>
						<key>valmatch</key>
						<string></string>
						<key>function</key>
						<string>adjust_crossFadeB:</string>
					</dict>
				</array>
				<key>18</key>
				<array>
					<dict>
						<key>logic</key>
						<string></string>
						<key>valmatch</key>
						<string></string>
						<key>function</key>
						<string>adjust_alphaB1:</string>
					</dict>
				</array>
				<key>19</key>
				<array>
					<dict>
						<key>logic</key>
						<string></string>
						<key>valmatch</key>
						<string></string>
						<key>function</key>
						<string>adjust_alphaB2:</string>
					</dict>
				</array>
				<key>1</key>
				<array>
					<dict>
						<key>logic</key>
						<string></string>
						<key>valmatch</key>
						<string></string>
						<key>function</key>
						<string>adjust_masterFadeB:</string>
					</dict>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
