<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MIDISourceName</key>
	<string>SPIN DJ-Controller</string>
	<key>CHANNEL</key>
	<dict>
		<key>1</key>
		<dict>
			<key>NOTE_ON</key>
			<dict/>
			<key>NOTE_OFF</key>
			<dict/>
			<key>CONTROL</key>
			<dict/>
		</dict>
		<key>0</key>
		<dict>
			<key>NOTE_ON</key>
			<dict/>
			<key>NOTE_OFF</key>
			<dict/>
			<key>CONTROL</key>
			<dict/>
		</dict>
	</dict>
</dict>
</plist>
